## --> Formbot CFGs <--#--> UPDATED with [Update Manager] ! <-- ##

# Safe to leave alone
[include Xp_Macros_Base.cfg]
[include Xp_Xplorer_Vars.cfg]
[include hack_Macros_IQEX.cfg]
[include Xp_Shell*.cfg]
[include Xp_Calibrate_offsets_IQEX.cfg]

# Review for functionality, do I need these?
[include Xp_Macros_T0.cfg]
[include Xp_Macros_T1.cfg]
[include Xp_Macros_T2.cfg]
[include Xp_Macros_T3.cfg]

# Review For quality and functionality to the chaos build
[include Xp_Shell_Commands_Base.cfg]
[include Xp_Shell_Commands_T0.cfg]
[include Xp_Shell_Commands_T1.cfg]
[include Xp_Shell_Commands_T2.cfg]
[include Xp_Shell_Commands_T3.cfg]

