####################################
# Check Homming status
####################################

[gcode_macro CHECK_HOME]
gcode:
    {% set homed_axes = printer.toolhead.homed_axes %}
    {% if "x" not in homed_axes %}
    M118 Home X Axis
    G28 X
    {% endif %}
    {% if "y" not in homed_axes %}
    M118 Home Y Axis
    G28 Y
    {% endif %}
    {% if "z" not in homed_axes %}
    M118 Home Z Axis
    G28 Z
    {% endif %}

##########################################
#POWER ON/OFF
##########################################

[gcode_macro Power_ON]
gcode:
  SET_PIN PIN=Power VALUE=1

[gcode_macro Power_OFF]
gcode:
  SET_PIN PIN=Power VALUE=0

##########################################
#Case Light
##########################################

[gcode_macro CASELIGHT_ON]
description: Helper: Light on
gcode: SET_PIN PIN=caselight VALUE=1

[gcode_macro CASELIGHT_OFF]
description: Helper: Light off
gcode:SET_PIN PIN=caselight VALUE=0


#######################################
# END_PRINT Power off
#######################################

[gcode_macro END_PRINT_OFF]
gcode:
    M118 Cooling down and then SHUT DOWN
    G4 P180000                                 # wait 3min
    Power_off                                  # power off


#########################################
# PID Autotune Bed
########################################

[gcode_macro PID_BED]
 gcode:
       PID_CALIBRATE HEATER=heater_bed TARGET=90

#####################################################################
# ‘Marlin’ style M808 compatibility macro for SDCard looping
#####################################################################

[gcode_macro M808]
gcode:
      {% if params.K is not defined and params.L is defined %}SDCARD_LOOP_BEGIN COUNT={params.L|int}
      {% endif %}
      {% if params.K is not defined and params.L is not defined %}SDCARD_LOOP_END
      {% endif %}
      {% if params.K is defined and params.L is not defined %}SDCARD_LOOP_DESIST
      {% endif %}

####################################################################
# SET Power Supply at print end
####################################################################

[gcode_macro SET_POWERSUPPLY_ENDPRINT]
description: Set whatever the printer turns off stays on after the print is ended (ON, OFF)

gcode:
    {% set pwr = params.PWR|default("ON;OFF") %}
    {% set svv = printer.save_variables.variables %}
    {% if pwr == "OFF" %}
    SAVE_VARIABLE VARIABLE=pwrendp VALUE=0
    M118 Printer will shut down after print end
    {% elif pwr == "ON" %}
    SAVE_VARIABLE VARIABLE=pwrendp VALUE=1
    M118 Printer will stay powered after print end
    {% else %}
    M118 Invalid input! Available options are: ON and OFF.
    {% endif %}

####################################################################
# Query Power supply behavior at print end
####################################################################

[gcode_macro QUERY_POWERSUPPLY_ENDPRINT]
gcode:
    {% set svv = printer.save_variables.variables %}
    {%if svv.pwrendp == 0%}
     M118 Printer will shut down after print end
    {%endif%}
    {%if svv.pwrendp == 1%}
     M118 Printer will stay powered after print end
    {%endif%}