##################################
# Shell Commands
##################################

#######################################################
# Flash xplorer MCU Mainboard BTT Manta M8P V2.0
#######################################################

[gcode_shell_command flash_mcu_mb]
command: sudo -n systemctl start --no-block flash-mcus@mcu.service
timeout: 10

[gcode_macro Flash_Mainboard]
description: This macro flashes the Mainboard with the latest Klipper version from your system
gcode:
    M118 Flashing the mainboard in the background. Klipper stops while it flashes and restarts when done.
    M118 Progress: /var/tmp/flash_mcus.log
    RUN_SHELL_COMMAND CMD=flash_mcu_mb

#######################################################
# Flash every MCU (mainboard, toolheads, hexa, Box Turtle)
#######################################################

[gcode_shell_command flash_mcu_all]
command: sudo -n systemctl start --no-block flash-mcus@all.service
timeout: 10

[gcode_macro FLASH_ALL_MCUS]
description: Flash every MCU that isn't already on the host's Klipper version
gcode:
    M118 Flashing all MCUs in the background. Klipper stops while it flashes and restarts when done.
    M118 Progress: /var/tmp/flash_mcus.log
    RUN_SHELL_COMMAND CMD=flash_mcu_all
