##################################
# Axis Y --
#################################
#       BACK side of the printer    ##
#                                   ##
#       Y                   Y1      ##
#                                   ##
#       Y2                   Y3     ##
#     Front side of the printer    ##


#  Back side of the printer  ##

[carriage gantry0]
axis: y
endstop_pin: ~PF3
position_endstop: 449
position_max: 450
position_min: -1 #92
homing_speed: 150
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper y]
carriages: gantry0
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
microsteps: 32
rotation_distance: 39.90            #Califlower Calibration https://www.printables.com/model/682023-califlower-calibration-stl-calculator

[tmc2209 stepper y]
uart_pin: PD5
run_current: 1.1
interpolate: true
stealthchop_threshold: 99999

[stepper y1]
carriages: gantry0
step_pin: PC7
dir_pin: PC8
enable_pin: !PD2
microsteps: 32
rotation_distance: 39.90

[tmc2209 stepper y1]
uart_pin: PC6
run_current: 1.1
interpolate: true
stealthchop_threshold: 99999

######################################
##### Front side of the printer  #####
######################################

[dual_carriage gantry1]
safe_distance:128
primary_carriage: gantry0
endstop_pin: ~PF4
position_endstop: 0
position_max: 450 #357
position_min: -1
homing_speed: 150
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper y2]
carriages: gantry1
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
microsteps: 32
rotation_distance: 39.90

[tmc2209 stepper y2]
uart_pin: PG10
run_current: 1.1
interpolate: true
stealthchop_threshold: 99999

[stepper y3]
carriages: gantry1
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
microsteps: 32
rotation_distance: 39.90

[tmc2209 stepper y3]
uart_pin: PG14
run_current: 1.1
interpolate: true
stealthchop_threshold: 99999