##################################
# Axis Y --
#################################
#       BACK side of the printer    ##
#                                   ##
#       Y  carriage_gantry0  Y1     ##
#                                   ##
#       Y2 carriage_gantry1  Y3     ##
#     Front side of the printer     ##

######################################
#####  Back side of the printer  #####
######################################

# Y Motor
[carriage carriage_gantry0_left]
axis: y
endstop_pin: ~PF3
position_endstop: 449
position_max: 450
position_min: 92
homing_speed: 150
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper stepper_gantry0_left]
carriages: stepper_gantry0_left
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
microsteps: 32
rotation_distance: 39.90            #Califlower Calibration https://www.printables.com/model/682023-califlower-calibration-stl-calculator

[tmc2209 stepper_gantry0_left]
uart_pin: PD5
run_current: 2.0
interpolate: true
hold_current: 0.7
stealthchop_threshold: 99999

[extra_carriage carriage_gantry0_right]
primary_carriage: carriage_gantry0_left

[stepper stepper_gantry0_right]
carriages: carriage_gantry0_right
step_pin: PC7
dir_pin: PC8
enable_pin: !PD2
microsteps: 32
rotation_distance: 39.90

[tmc2209 stepper_gantry0_right]
uart_pin: PC6
run_current: 2.0
interpolate: true
hold_current: 0.7
stealthchop_threshold: 99999

######################################
##### Front side of the printer  #####
######################################

[dual_carriage carriage_gantry1_left]
primary_carriage: carriage_gantry0_left
safe_distance: 50
endstop_pin: ~PF4
position_endstop: 0
position_max: 357
position_min: -1
homing_speed: 150
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper stepper_gantry1_left]
carriages: carriage_gantry1_left
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
microsteps: 32
rotation_distance: 39.90

[tmc2209 stepper_gantry1_eft]
uart_pin: PG10
run_current: 2.0
interpolate: true
hold_current: 0.7
stealthchop_threshold: 99999

[extra_carriage carriage_gantry1_right]
primary_carriage: carriage_gantry1_left

[stepper carriage_gantry1_right]
carriages: carriage_gantry1_left
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
microsteps: 32
rotation_distance: 39.90

[tmc2209 stepper_gantry1_right]
uart_pin: PG14
run_current: 2.0
interpolate: true
hold_current: 0.7
stealthchop_threshold: 99999
