##################################
# Rear X Axis -- Carriage Tool0
##################################

[carriage carriage_t0]
axis: x
gantry: carriage_gantry0_left
endstop_pin:~Tool0: PA10
position_min: -1
position_endstop: 0
position_max: 340
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10
#homing_positive_dir:

[stepper stepper_t0_x]
carriages: carriage_t0
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB6
microsteps: 32
rotation_distance: 31.93                     #Califlower Calibration https://www.printables.com/model/682023-califlower-calibration-stl-calculator

[tmc2209 stepper stepper_t0_x]
uart_pin: PB5
run_current: 0.95
interpolate: false
hold_current: 0.500
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Rear X Axis -- Carriage Tool1
##################################

[dual_carriage carriage_t1]
primary_carriage: carriage_t0
safe_distance: 80
endstop_pin:~Tool1: PA10
position_endstop: 421
position_max: 422
position_min: 80
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper stepper_t1_x]
carriages: carriage_t1
step_pin: PB8
dir_pin: !PB7
enable_pin: !PE0
microsteps: 32
rotation_distance: 31.93                     #Califlower Calibration https://www.printables.com/model/682023-califlower-calibration-stl-calculator

[tmc2209 stepper stepper_t1_x]
uart_pin: PB9
run_current: 0.95
interpolate: false
hold_current: 0.500
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Front X Axis -- Carriage Tool2
##################################

[carriage carriage_t2]
axis: x
gantry: carriage_gantry1_left
endstop_pin: ~Tool2: PA10
position_min: -1
position_endstop: 0
position_max: 340
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10
#homing_positive_dir:

[stepper stepper_t2_x]
carriages: carriage_t2
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE4
microsteps: 32
rotation_distance: 31.93

[tmc2209 stepper stepper_t2_x]
uart_pin: PE3
run_current: 0.95
interpolate: false
hold_current: 0.500
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Front X Axis -- Carriage Tool3
##################################

[dual_carriage carriage_t3]
primary_carriage: carriage_t2
safe_distance: 80
endstop_pin:~Tool3: PA10
position_endstop: 421
position_max: 422
position_min: 80
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper stepper_t3_x]
carriages: carriage_t3
step_pin: PE6
dir_pin: !PE5
enable_pin: !PC14
microsteps: 32
rotation_distance: 31.93

[tmc2209 stepper stepper_t3_x]
uart_pin: PC13
run_current: 0.95
interpolate: false
hold_current: 0.500
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0
