##################################
# Z Axis -- 3 Steppers
##################################

#   BACK of the printer   #
#                         #
#           Z1            #
#                         #
#       Z       Z2        #
#                         #
#   FRONT of the printer  #


#  Stepper Left  ###########

[carriage z]
endstop_pin: PC15
position_endstop: 401
position_max: 401
position_min: -3
homing_speed: 20
homing_retract_dist: 10.0
homing_retract_speed: 10
second_homing_speed: 5

[stepper z]
carriages: z
step_pin: P0.18
dir_pin: P3.25
enable_pin: !P1.31
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z]
uart_pin: P1.21
run_current: 1.4
hold_current: 0.9
stealthchop_threshold: 999999


#  Stepper Back  ############

[extra_carriage z1]
primary_carriage: z
endstop_pin: PF0

[stepper z1]
carriages: z1
step_pin: P3.26
dir_pin: !P0.16
enable_pin: !P1.23
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z1]
uart_pin: P1.19
run_current: 1.4
hold_current: 0.9
stealthchop_threshold: 999999


#  Stepper Right  #########

[extra_carriage z2]
primary_carriage: z
endstop_pin: PF1

[stepper z2]
carriages: z2
step_pin: P0.17
dir_pin: !P0.15
enable_pin: !P1.22
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z2]
uart_pin: P0.28
run_current: 1.4
hold_current: 0.9
stealthchop_threshold: 999999

