##################################
# Z Axis -- 3 Steppers
##################################

#   BACK of the printer   #
#                         #
#           Z1            #
#                         #
#       Z       Z2        #
#                         #
#   FRONT of the printer  #


#  Stepper Left  ###########

[carriage z]
endstop_pin: PC15
position_endstop: 401
position_max: 401
position_min: -3
homing_speed: 20
homing_retract_dist: 10.0
homing_retract_speed: 10
second_homing_speed: 5

[stepper z]
carriages: z
step_pin: PC7
dir_pin: PC8
enable_pin: !PD2
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z]
uart_pin: PC6
run_current: 1.4
hold_current: 0.9
stealthchop_threshold: 999999


#  Stepper Back  ############

[extra_carriage z1]
primary_carriage: z
endstop_pin: PF0

[stepper z1]
carriages: z1
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z1]
uart_pin: PD5
run_current: 1.4
hold_current: 0.9
stealthchop_threshold: 999999


#  Stepper Right  #########

[extra_carriage z2]
primary_carriage: z
endstop_pin: PF1

[stepper z2]
carriages: z2
step_pin: PG9
dir_pin: !PD7
enable_pin: !PG11
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z2]
uart_pin: PG10
run_current: 1.4
hold_current: 0.9
stealthchop_threshold: 999999

