#####################################################################
##	                 H36 Combo Toolhead Board Config
#####################################################################

#####################################################################
##	                 Temperature Monitoring
#####################################################################

[temperature_sensor T1_Stepper]
sensor_type: Generic 3950
sensor_pin: Tool1:PA3               # Thermistor next to TMC2209 (4.7k pull up)

#####################################################################
##                  Extruder Motor
#####################################################################

[extruder1]
step_pin: Tool1:PB9                   # Driver_STEP pin
dir_pin: !Tool1:PB8                    # Driver_DIR pin
enable_pin: !Tool1:PB7                # Driver_EN pin
full_steps_per_rotation: 200         # Number of pulses required for a single motor revolution
microsteps: 32                       # Microsteps setting
rotation_distance:  4.800
nozzle_diameter: 0.400               # Nozzle diameter
filament_diameter: 1.750             # Filament diameter
heater_pin: Tool1:PA7                # Heat pin
control: pid                         # Control method
pid_Kp: 20.614
pid_Ki: 5.648
pid_Kd: 18.809
min_temp: -20                        # Minimum temperature
max_temp: 330                        # Maximum temperature
min_extrude_temp: 180                # Minimum extrude temperature
pressure_advance: 0.03               # Pressure advance - try to keep pressure below 1.0
pressure_advance_smooth_time: 0.040   # Pressure advance smooth time - default is 0.040
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: Tool1:PA6
pullup_resistor: 2200            # Important: H36 uses a 2.2kΩ pull-up
max_extrude_only_distance: 500
max_extrude_only_velocity: 120

[tmc2209 extruder1]
sense_resistor: 0.110
uart_pin: Tool1:PC14                # Driver_UART pin
interpolate: false                    # Enable 256 microstep interpolation
run_current: 0.8                    # Running current
stealthchop_threshold: 0

#--------------------------------------------------------------------
[verify_heater extruder1]             # Heater block temperature tolerance configuration
max_error: 20                       # Maximum error
check_gain_time: 60                 # Tolerance time
hysteresis: 10                       # Tolerance temperature
heating_gain: 2                      # Heating gain

#####################################################################
##                  Fans
#####################################################################

[heater_fan hotend_T1_fan]          # Hotend fan
pin: Tool1:PA13                  # FAN3 pin - Hotend fan
heater: extruder1                 # Associated heating device
heater_temp: 50.0                # Temperature to start the fan
cycle_time: 0.00003              # Cycle time

#--------------------------------------------------------------------

[fan_generic Tool_1_partfan]               # 5015 Part cooling Blower
pin: Tool1:PA5                   # FAN2 pin - Nozzle fan
cycle_time: 0.1                  # Cycle time
hardware_pwm: false              # hardware pwm

#####################################################################
##                            RGB-LED Lights
#####################################################################

[neopixel Tool_1_rgb]
pin: Tool1:PA8                  # IO.2/RGB1 pin
chain_count: 2                # Number of LEDs
color_order: GRB             # Color order
initial_RED: 0.2              # Initial red brightness
initial_GREEN: 0.2            # Initial green brightness
initial_BLUE: 0.2             # Initial blue brightness

#[led_effect panel_idle]
#autostart:              false
#frame_rate:             24
#leds:
#    neopixel:hotend_rgb
#layers:
#    breathing  10 1 top (.5,.5,1)
