##################################
# Z Axis -- 3 Steppers
##################################

#   BACK of the printer   #
#                         #
#           Z1            #
#                         #
#       Z       Z2        #
#                         #
#   FRONT of the printer  #

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#  Stepper Left  ###########

[carriage z]
endstop_pin: PC15
position_endstop: 401
position_max: 401
position_min: -3
homing_speed: 20
homing_retract_dist: 10.0
homing_retract_speed: 10
second_homing_speed: 5

[stepper z]
carriages: z
step_pin: EXP2_6
dir_pin: EXP2_5
enable_pin: !EXP2_7
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z]
uart_pin: EXP1_6
run_current: 1.4
hold_current: 0.9
stealthchop_threshold: 999999


#  Stepper Back  ############

[extra_carriage z1]
primary_carriage: z
endstop_pin: PF0

[stepper z1]
carriages: z1
step_pin: EXP2_3
dir_pin: EXP2_4
enable_pin: !EXP1_8
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z1]
uart_pin: EXP1_4
run_current: 1.4
hold_current: 0.9
stealthchop_threshold: 999999


#  Stepper Right  #########

[extra_carriage z2]
primary_carriage: z
endstop_pin: PF1

[stepper z2]
carriages: z2
step_pin: EXP2_1
dir_pin: EXP2_2
enable_pin: !EXP1_7
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z2]
uart_pin: EXP1_2
run_current: 1.4
hold_current: 0.9
stealthchop_threshold: 999999

