##################################
# Shell Commands
##################################
#######################################################
# Measure Resonances on X-Axis Copy Mode
#######################################################

[gcode_shell_command resonances_x_idexcp]
command: /bin/bash -c "$HOME/printer_data/config/0_Xplorer/.8_Scripts/resonances_X_idexcp.sh"
timeout: 80

#######################################################
# Measure Resonances on Y-Axis Copy Mode
#######################################################

[gcode_shell_command resonances_y_idexcp]
command: /bin/bash -c "$HOME/printer_data/config/0_Xplorer/.8_Scripts/resonances_Y_idexcp.sh"
timeout: 80

#######################################################
# Measure Resonances on X-Axis Mirror Mode
#######################################################

[gcode_shell_command resonances_x_idexmr]
command: /bin/bash -c "$HOME/printer_data/config/0_Xplorer/.8_Scripts/resonances_X_idexmr.sh"
timeout: 80

#######################################################
# Measure Resonances on Y-Axis Mirror Mode
#######################################################

[gcode_shell_command resonances_y_idexmr]
command: /bin/bash -c "$HOME/printer_data/config/0_Xplorer/.8_Scripts/resonances_Y_idexmr.sh"
timeout: 80
