
#################################################################################################################
################################# Variables that can be changed by the user ################################################
#################################################################################################################

######################## Description of the variables from Variables.cfg#########################
#                                                                                               #
# bp_zoff >>> Correction coefficient for Automatic Bed Probe calibration                        #
# tprobe >>> Temp of the Nozzles when probing the sensor                                        #
# mesh_tmp >>> Bed temp for Bed Mesh Leveling                                                   #
# h_brush >>> Z_Height for Nozzle brush                                                         #
# pmode >>> print mode for the nex print. 0-primary, 1-copy, 2-mirror                           #
# ttovr >>> toolhead take over. 0-None, 1-Tool0, 2-Tool1,                                       #
# pwrendp >>> power supply at end of the print.0-off, 1-on                                      #
# >>> Y-offset T1 / T2 / T3 :                                                                   #
# x1offset                                                                                      #
# x2offset                                                                                      #
# x3offset                                                                                      #
# >>> Y-offset T1 / T2 / T3 :                                                                   #
# y1offset                                                                                      #
# y2offset                                                                                      #
# y3offset                                                                                      #
# >>> Z-offset T1 / T2 / T3 :                                                                   #
# z1offset                                                                                      #
# z2offset                                                                                      #
# z3offset                                                                                      #
# >>> input shaper settings                                                                     #
#shaper_type_***                                                                                #
#shaper_freq_***                                                                                #
#                                                                                               #
#################################################################################################

## --> Default CFGs <--#################################--> NO update with [Update Manager] <-- ##
                                                                                                 #
[include ./02__Boards_Serials/Mainboard_serial.cfg]                                              #
[include ./02__Boards_Serials/Tool0_serial.cfg]                                                  #
[include ./02__Boards_Serials/Tool1_serial.cfg]                                                  #
[include ./02__Boards_Serials/Tool2_serial.cfg]                                                 #
[include ./02__Boards_Serials/Tool3_serial.cfg]                                                 #
[include ./02__Boards_Serials/Hexa_serial.cfg]                                                   #
[include ./02__Boards_Serials/Carto_serial.cfg]                                                   #
[include mainsail.cfg]                                                                           #
[include timelapse.cfg]                                                                          #
#[include moonraker_obico_macros.cfg]                                                            #
                                                                                                 #
##################################################################################################

## --> Formbot CFGs <--#################################--> UPDATED with [Update Manager] ! <-- ##
                                                                                                 #
[include ./0_Xplorer/01_Default_CFG/hack_IQEX.cfg]                                             #
                                                                                                 #
##################################################################################################

##################################################################################################

#### --> User custom CFGs <--################       ############### --> Added  by the user <-- ###
                                                                                                  #
[include ./01__User_Custom__CFG/led_effects.cfg]                                                  #
[include ./01__User_Custom__CFG/carto.cfg]                                                        #
[include ./01__User_Custom__CFG/stepperfan.cfg]                                                   #
[include ./01__User_Custom__CFG/toolheads.cfg]                                                    #
[include ./01__User_Custom__CFG/chamberheater.cfg]                                                #
[include ./01__User_Custom__CFG/overrides.cfg]
[include ./01__User_Custom__CFG/nevermore.cfg]
[include ./01__User_Custom__CFG/buffer.cfg]
[include ./Macros/*.cfg]                                                                          #
#[include ./01__User_Custom__CFG/****.cfg]                                                        #
#[include ./01__User_Custom__CFG/****.cfg]                                                        #
#[include ./01__User_Custom__CFG/****.cfg]                                                        #
                                                                                                  #
##################################################################################################

##################################################################################################
# X Axis
##################################################################################################

##################################
# Carriage Tool1
##################################

[carriage t0]
axis: x
endstop_pin:~Tool0: PA10
position_min: -1
position_endstop: 0
position_max: 340
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper x]
carriages: t0
step_pin: Tool0: PB4
dir_pin: !Tool0: PB5
enable_pin: !Tool0:PC13
microsteps: 32
rotation_distance: 31.5 

[tmc2209 stepper x]
uart_pin: Tool0:PB3
run_current: 0.6
interpolate: false
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Carriage Tool1
##################################

[dual_carriage t1]
primary_carriage: t0
safe_distance: 80
endstop_pin:~Tool1: PA10
position_min: 80
position_endstop: 421
position_max: 422
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper x1]
carriages: t1
step_pin: Tool1:PB4
dir_pin: !Tool1:PB5
enable_pin: !Tool1:PC13
microsteps: 32
rotation_distance: 31.5

[tmc2209 stepper x1]
uart_pin: Tool1:PB3
run_current: 0.6
interpolate: false
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Carriage Tool2
##################################

[dual_carriage t2]
axis: x
endstop_pin: ~Tool2: PA10
position_min: -1
position_endstop: 0
position_max: 340
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10
#homing_positive_dir:

[stepper x2]
carriages: t2
step_pin: Tool2: PB4
dir_pin: Tool2: PB5
enable_pin: !Tool2:PC13
microsteps: 32
rotation_distance: 31.5

[tmc2209 stepper x2]
uart_pin: Tool2:PB3
run_current: 0.6
interpolate: false
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Carriage Tool3
##################################

[dual_carriage t3]
primary_carriage: t2
safe_distance: 80
endstop_pin:~Tool3: PA10
position_min: 80
position_endstop: 421
position_max: 422
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper x3]
carriages: t3
step_pin: Tool3:PB4
dir_pin: Tool3:PB5
enable_pin: !Tool3:PC13
microsteps: 32
rotation_distance: 31.5

[tmc2209 stepper x3]
uart_pin: Tool3:PB3
run_current: 0.6
interpolate: false
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################################################################################
# Y Axis
##################################################################################################
#       BACK side of the printer    ##
#                                   ##
#       Y                   Y1      ##
#                                   ##
#       Y2                   Y3     ##
#     Front side of the printer    ##


#  Back side of the printer  ##

######################################
##### Rear side of the printer  #####
######################################

[carriage gantry0]
axis: y
endstop_pin: ~PF3
position_endstop: 449
position_max: 450
position_min: -1 #92
homing_speed: 150
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper y]
carriages: gantry0
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
microsteps: 32
rotation_distance: 40.5

[tmc2209 stepper y]
uart_pin: PD5
run_current: 1.1
interpolate: true
stealthchop_threshold: 99999

[stepper y1]
carriages: gantry0
step_pin: PC7
dir_pin: PC8
enable_pin: !PD2
microsteps: 32
rotation_distance: 40.5

[tmc2209 stepper y1]
uart_pin: PC6
run_current: 1.1
interpolate: true
stealthchop_threshold: 99999

######################################
##### Front side of the printer  #####
######################################

[dual_carriage gantry1]
safe_distance: 70
primary_carriage: gantry0
endstop_pin: ~PF4
position_endstop: 0
position_max: 450 #357
position_min: -1
homing_speed: 150
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper y2]
carriages: gantry1
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
microsteps: 32
rotation_distance: 40.5

[tmc2209 stepper y2]
uart_pin: PG10
run_current: 1.1
interpolate: true
stealthchop_threshold: 99999

[stepper y3]
carriages: gantry1
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
microsteps: 32
rotation_distance: 40.5

[tmc2209 stepper y3]
uart_pin: PG14
run_current: 1.1
interpolate: true
stealthchop_threshold: 99999

##################################
# Z Axis -- 3 Steppers
##################################

#   BACK of the printer   #
#                         #
#           Z1            #
#                         #
#       Z       Z2        #
#                         #
#   FRONT of the printer  #

##################################################################################################
# Z Axis
##################################################################################################

######################################
#####        Front Left Z        #####
######################################

[carriage z]
axis: z
endstop_pin: ~PF1
position_endstop: 393
position_max: 393
position_min: -3
homing_speed: 20
homing_retract_dist: 10.0
homing_retract_speed: 10
second_homing_speed: 5

[stepper z]
carriages: z
step_pin: PE6
dir_pin: !PE5
enable_pin: !PC14
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z]
uart_pin: PC13
run_current: 1.1
stealthchop_threshold: 999999

######################################
#####        Rear Z              #####
######################################

[extra_carriage z1]
primary_carriage: z
endstop_pin: ~PF0

[stepper z1]
carriages: z1
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z1]
uart_pin: PE3
run_current: 1.1
stealthchop_threshold: 999999

######################################
#####      Front Right Z         #####
######################################

[extra_carriage z2]
primary_carriage: z
endstop_pin: ~PC15

[stepper z2]
carriages: z2
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z2]
uart_pin: PB9
run_current: 1.1
stealthchop_threshold: 999999

##################################################################################################
# PID Configs                                                                                    #
##################################################################################################

[extruder]
pwm_cycle_time: 0.02088
#control: pid
#pid_Kp: 24.452
#pid_Ki: 2.397
#pid_Kd: 62.353

[extruder1]
pwm_cycle_time: 0.02088
#control: pid
#pid_Kp: 24.614
#pid_Ki: 2.413
#pid_Kd: 62.767

[extruder2]
pwm_cycle_time: 0.02088
#control: pid
#pid_Kp: 24.614
#pid_Ki: 2.413
#pid_Kd: 62.767

[extruder3]
pwm_cycle_time: 0.02088
#control: pid
#pid_Kp: 24.614
#pid_Ki: 2.413
#pid_Kd: 62.767

[heater_bed]
pwm_cycle_time: 0.02227   # 44.9 Hz
#control: pid
#pid_Kp:58.857
#pid_Ki:2.616
#pid_Kd:331.070

#pwm_cycle_time: 0.02 # use this value for 50Hz power systems (in EU for example)
#pwm_cycle_time: 0.0166 # use this value for 60Hz power systems (in USA and Canada for example)

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [skew_correction SKEW1]
#*# xy_skew = 0.0
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [skew_correction SKEW0]
#*# xy_skew = 0.0
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 31.810
#*# pid_ki = 11.162
#*# pid_kd = 22.664
#*#
#*# [extruder1]
#*# control = pid
#*# pid_kp = 31.158
#*# pid_ki = 10.933
#*# pid_kd = 22.199
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.472
#*# pid_ki = 2.807
#*# pid_kd = 429.859
#*#
#*# [extruder2]
#*# control = pid
#*# pid_kp = 33.871
#*# pid_ki = 12.545
#*# pid_kd = 22.862
#*#
#*# [extruder3]
#*# control = pid
#*# pid_kp = 30.650
#*# pid_ki = 10.755
#*# pid_kd = 21.837
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.068957, -0.063396, -0.035687, -0.009555, 0.006848, 0.016392, 0.012309, 0.017748, 0.028615, 0.039450, 0.039450, 0.034043, 0.001394, -0.009555, -0.026032, -0.037063, -0.042584, -0.052284, -0.046748, -0.035687
#*# 	-0.063396, -0.020536, -0.015034, 0.001394, 0.021825, 0.017748, 0.016392, 0.017748, 0.027263, 0.028615, 0.032680, 0.017748, -0.008190, -0.024660, -0.037063, -0.057828, -0.068957, -0.074527, -0.063396, -0.057828
#*# 	-0.068957, -0.052284, -0.035687, 0.001394, 0.016392, 0.012309, 0.016392, 0.017748, 0.012309, 0.006848, 0.017748, 0.001394, -0.020536, -0.041206, -0.063396, -0.080120, -0.084328, -0.089922, -0.089922, -0.089922
#*# 	-0.046748, -0.019167, -0.004069, 0.012309, 0.028615, 0.017748, 0.006848, 0.006848, 0.010952, 0.001394, 0.012309, -0.009555, -0.026032, -0.057828, -0.068957, -0.091304, -0.101151, -0.112400, -0.101151, -0.106771
#*# 	-0.046748, -0.035687, -0.020536, 0.006848, 0.021825, 0.017748, 0.012309, 0.012309, 0.006848, 0.001394, 0.006848, -0.015034, -0.031536, -0.063396, -0.080120, -0.101151, -0.111010, -0.123700, -0.118039, -0.118039
#*# 	-0.026032, -0.004069, 0.006848, 0.032680, 0.038102, 0.028615, 0.021825, 0.017748, 0.016392, 0.001394, 0.010952, -0.024660, -0.035687, -0.068957, -0.084328, -0.106771, -0.118039, -0.133622, -0.123700, -0.127959
#*# 	-0.030849, -0.019167, 0.001394, 0.021825, 0.032680, 0.027263, 0.021825, 0.016392, 0.012309, 0.005489, 0.005489, -0.026032, -0.035687, -0.063396, -0.089922, -0.106771, -0.123700, -0.139309, -0.142850, -0.144990
#*# 	0.001394, 0.023192, 0.034043, 0.048896, 0.054294, 0.043503, 0.044862, 0.043503, 0.028615, 0.021825, 0.012309, -0.009555, -0.031536, -0.057828, -0.078728, -0.108160, -0.127959, -0.140710, -0.133622, -0.144990
#*# 	0.004121, 0.021825, 0.032680, 0.048896, 0.059671, 0.054294, 0.048896, 0.043503, 0.032680, 0.027263, 0.016392, 0.001394, -0.024660, -0.052284, -0.074527, -0.106771, -0.123700, -0.135021, -0.144990, -0.150680
#*# 	0.021825, 0.043503, 0.054294, 0.065054, 0.074435, 0.059671, 0.063702, 0.059671, 0.048896, 0.038102, 0.021825, 0.010952, -0.015034, -0.046748, -0.068957, -0.101151, -0.122306, -0.139309, -0.135021, -0.147835
#*# 	0.021825, 0.028615, 0.043503, 0.059671, 0.065054, 0.059671, 0.063702, 0.063702, 0.059671, 0.043503, 0.028615, 0.010952, -0.015034, -0.041206, -0.068957, -0.101151, -0.118039, -0.139309, -0.144990, -0.157787
#*# 	0.023192, 0.043503, 0.048896, 0.059671, 0.070416, 0.070416, 0.065054, 0.065054, 0.059671, 0.043503, 0.027263, 0.006848, -0.020536, -0.046748, -0.074527, -0.112400, -0.129356, -0.152086, -0.150680, -0.156394
#*# 	0.016392, 0.021825, 0.034043, 0.048896, 0.054294, 0.059671, 0.069079, 0.070416, 0.059671, 0.044862, 0.027263, 0.005489, -0.024660, -0.046748, -0.079424, -0.106771, -0.129356, -0.150680, -0.162102, -0.177881
#*# 	0.017748, 0.038102, 0.043503, 0.054294, 0.065054, 0.069079, 0.070416, 0.065054, 0.054294, 0.038102, 0.017748, -0.004069, -0.035687, -0.063396, -0.084328, -0.118039, -0.139309, -0.167820, -0.167820, -0.167820
#*# 	0.006848, 0.006848, 0.027263, 0.043503, 0.048896, 0.054294, 0.059671, 0.054294, 0.043503, 0.027263, 0.006848, -0.015034, -0.041206, -0.068957, -0.101151, -0.123700, -0.150680, -0.167820, -0.183625, -0.190799
#*# 	0.001394, 0.017748, 0.027263, 0.039450, 0.048896, 0.054294, 0.054294, 0.043503, 0.032680, 0.017748, -0.004069, -0.026032, -0.052284, -0.084328, -0.112400, -0.146393, -0.162102, -0.195154, -0.195154, -0.200926
#*# 	-0.004069, -0.002706, 0.017748, 0.032680, 0.038102, 0.043503, 0.043503, 0.032680, 0.017748, 0.001394, -0.015034, -0.031536, -0.063396, -0.089922, -0.122306, -0.152086, -0.179298, -0.200926, -0.212513, -0.227033
#*# 	-0.001338, 0.017748, 0.023192, 0.028615, 0.038102, 0.034043, 0.043503, 0.032680, 0.023192, 0.001394, -0.019167, -0.041206, -0.074527, -0.101151, -0.129356, -0.167820, -0.185044, -0.212513, -0.212513, -0.218313
#*# 	0.001394, 0.006848, 0.021825, 0.032680, 0.028615, 0.032680, 0.032680, 0.027263, 0.012309, -0.004069, -0.024660, -0.046748, -0.078728, -0.106771, -0.123700, -0.129356, -0.118039, -0.123700, -0.146393, -0.192977
#*# 	0.006848, 0.016392, 0.017748, 0.017748, 0.016392, 0.027263, 0.028615, 0.017748, 0.001394, -0.015034, -0.030163, -0.057828, -0.084328, -0.095525, -0.057828, 0.006848, 0.079783, 0.085137, 0.043503, -0.046748
#*# min_x = 40.0
#*# min_y = 121.0
#*# max_x = 338.0
#*# max_y = 380.0
#*# x_count = 20
#*# y_count = 20
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = bicubic
#*# tension = 0.2
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.896389536873,2.2897745399261695,0.6897879752392853,0.39985079343972035,0.32197598398421007,-0.28916084263836134,-0.29999866253507307,0.5269609801652428,0.19649883775874463,-0.21905537475604633
#*# domain = 3.4195024781706647e-07,3.4616431373153683e-07
#*# z_offset = 0
#*# reference_temperature = 28.69
#*# software_version = 1.3.3
#*# mcu_version = CARTOGRAPHER V4 6.0.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 500
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.3.3
#*# mcu_version = CARTOGRAPHER V4 6.0.0
