
#################################################################################################################
################################# Variables that can be changed by the user ################################################
#################################################################################################################

######################## Description of the variables from Variables.cfg#########################
#                                                                                               #
# bp_zoff >>> Correction coefficient for Automatic Bed Probe calibration                        #
# tprobe >>> Temp of the Nozzles when probing the sensor                                        #
# mesh_tmp >>> Bed temp for Bed Mesh Leveling                                                   #
# h_brush >>> Z_Height for Nozzle brush                                                         #
# pmode >>> print mode for the nex print. 0-primary, 1-copy, 2-mirror                           #
# ttovr >>> toolhead take over. 0-None, 1-Tool0, 2-Tool1,                                       #
# pwrendp >>> power supply at end of the print.0-off, 1-on                                      #
# >>> Y-offset T1 / T2 / T3 :                                                                   #
# x1offset                                                                                      #
# x2offset                                                                                      #
# x3offset                                                                                      #
# >>> Y-offset T1 / T2 / T3 :                                                                   #
# y1offset                                                                                      #
# y2offset                                                                                      #
# y3offset                                                                                      #
# >>> Z-offset T1 / T2 / T3 :                                                                   #
# z1offset                                                                                      #
# z2offset                                                                                      #
# z3offset                                                                                      #
# >>> input shaper settings                                                                     #
#shaper_type_***                                                                                #
#shaper_freq_***                                                                                #
#                                                                                               #
#################################################################################################

## --> Default CFGs <--#################################--> NO update with [Update Manager] <-- ##
                                                                                                 #
[include ./02__Boards_Serials/Mainboard_serial.cfg]                                              #
[include ./02__Boards_Serials/Tool0_serial.cfg]                                                  #
[include ./02__Boards_Serials/Tool1_serial.cfg]                                                  #
[include ./02__Boards_Serials/Tool2_serial.cfg]                                                 #
[include ./02__Boards_Serials/Tool3_serial.cfg]                                                 #
[include ./02__Boards_Serials/Hexa_serial.cfg]                                                   #
[include ./02__Boards_Serials/Carto_serial.cfg]                                                   #
[include mainsail.cfg]                                                                           #
[include timelapse.cfg]                                                                          #
#[include moonraker_obico_macros.cfg]                                                            #
                                                                                                 #
##################################################################################################

## --> Formbot CFGs <--#################################--> UPDATED with [Update Manager] ! <-- ##
                                                                                                 #
[include ./0_Xplorer/01_Default_CFG/hack_IQEX.cfg]                                             #
                                                                                                 #
##################################################################################################

##################################################################################################

#### --> User custom CFGs <--################       ############### --> Added  by the user <-- ###
                                                                                                  #
#[include ./01__User_Custom__CFG/led_effects.cfg]                                                  #
[include ./01__User_Custom__CFG/carto.cfg]                                                        #
[include ./01__User_Custom__CFG/stepperfan.cfg]                                                   #
[include ./01__User_Custom__CFG/toolheads.cfg]                                                    #
[include ./01__User_Custom__CFG/chamberheater.cfg]                                                #
[include ./01__User_Custom__CFG/overrides.cfg]
[include ./01__User_Custom__CFG/nevermore.cfg]
[include ./01__User_Custom__CFG/buffer.cfg]
[include ./Macros/*.cfg]                                                                          #
[include AFC/*.cfg]
#[include ./01__User_Custom__CFG/****.cfg]                                                        #
#[include ./01__User_Custom__CFG/****.cfg]                                                        #
#[include ./01__User_Custom__CFG/****.cfg]                                                        #
                                                                                                  #
##################################################################################################

##################################################################################################
# X Axis
##################################################################################################

##################################
# Carriage Tool1
##################################

[carriage t0]
axis: x
endstop_pin:~Tool0: PA10
position_min: -1
position_endstop: 0
position_max: 340
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper x]
carriages: t0
step_pin: Tool0: PB4
dir_pin: !Tool0: PB5
enable_pin: !Tool0:PC13
microsteps: 16
rotation_distance: 31.5 

[tmc2209 stepper x]
uart_pin: Tool0:PB3
run_current: 0.6
hold_current: 0.25
interpolate: false
sense_resistor: 0.05
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Carriage Tool1
##################################

[dual_carriage t1]
primary_carriage: t0
safe_distance: 80
endstop_pin:~Tool1: PA10
position_min: 80
position_endstop: 421
position_max: 422
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper x1]
carriages: t1
step_pin: Tool1:PB4
dir_pin: !Tool1:PB5
enable_pin: !Tool1:PC13
microsteps: 16
rotation_distance: 31.5

[tmc2209 stepper x1]
uart_pin: Tool1:PB3
run_current: 0.6
hold_current: 0.25
interpolate: false
sense_resistor: 0.05
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Carriage Tool2
##################################

[dual_carriage t2]
axis: x
endstop_pin: ~Tool2: PA10
position_min: -1
position_endstop: 0
position_max: 340
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10
#homing_positive_dir:

[stepper x2]
carriages: t2
step_pin: Tool2: PB4
dir_pin: Tool2: PB5
enable_pin: !Tool2:PC13
microsteps: 16
rotation_distance: 31.5

[tmc2209 stepper x2]
uart_pin: Tool2:PB3
run_current: 0.6
hold_current: 0.25
interpolate: false
sense_resistor: 0.05
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################
# Carriage Tool3
##################################

[dual_carriage t3]
primary_carriage: t2
safe_distance: 80
endstop_pin:~Tool3: PA10
position_min: 80
position_endstop: 421
position_max: 422
homing_speed: 180
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper x3]
carriages: t3
step_pin: Tool3:PB4
dir_pin: Tool3:PB5
enable_pin: !Tool3:PC13
microsteps: 16
rotation_distance: 31.5

[tmc2209 stepper x3]
uart_pin: Tool3:PB3
run_current: 0.6
hold_current: 0.25
interpolate: false
sense_resistor: 0.05
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 2
driver_HSTRT: 0

##################################################################################################
# Y Axis
##################################################################################################
#       BACK side of the printer    ##
#                                   ##
#       Y                   Y1      ##
#                                   ##
#       Y2                   Y3     ##
#     Front side of the printer    ##


#  Back side of the printer  ##

######################################
##### Rear side of the printer  #####
######################################

[carriage gantry0]
axis: y
endstop_pin: ~PF3
position_endstop: 449
position_max: 450
position_min: -1 #92
homing_speed: 150
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper y]
carriages: gantry0
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
microsteps: 16
rotation_distance: 40.5

[tmc2209 stepper y]
uart_pin: PD5
run_current: 1.1
hold_current: 0.6
interpolate: true
stealthchop_threshold: 99999

[stepper y1]
carriages: gantry0
step_pin: PC7
dir_pin: PC8
enable_pin: !PD2
microsteps: 16
rotation_distance: 40.5

[tmc2209 stepper y1]
uart_pin: PC6
run_current: 1.1
hold_current: 0.6
interpolate: true
stealthchop_threshold: 99999

######################################
##### Front side of the printer  #####
######################################

[dual_carriage gantry1]
safe_distance: 70
primary_carriage: gantry0
endstop_pin: ~PF4
position_endstop: 0
position_max: 450 #357
position_min: -1
homing_speed: 150
homing_retract_dist: 5.0
homing_retract_speed: 50
second_homing_speed: 10

[stepper y2]
carriages: gantry1
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
microsteps: 16
rotation_distance: 40.5

[tmc2209 stepper y2]
uart_pin: PG10
run_current: 1.1
hold_current: 0.6
interpolate: true
stealthchop_threshold: 99999

[stepper y3]
carriages: gantry1
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
microsteps: 16
rotation_distance: 40.5

[tmc2209 stepper y3]
uart_pin: PG14
run_current: 1.1
hold_current: 0.6
interpolate: true
stealthchop_threshold: 99999

##################################
# Z Axis -- 3 Steppers
##################################

#   BACK of the printer   #
#                         #
#           Z1            #
#                         #
#       Z       Z2        #
#                         #
#   FRONT of the printer  #

##################################################################################################
# Z Axis
##################################################################################################

######################################
#####        Front Left Z        #####
######################################

[carriage z]
axis: z
endstop_pin: ~PF1
position_endstop: 393
position_max: 393
position_min: -3
homing_speed: 20
homing_retract_dist: 10.0
homing_retract_speed: 10
second_homing_speed: 5

[stepper z]
carriages: z
step_pin: PE6
dir_pin: !PE5
enable_pin: !PC14
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z]
uart_pin: PC13
run_current: 1.0
stealthchop_threshold: 999999

######################################
#####        Rear Z              #####
######################################

[extra_carriage z1]
primary_carriage: z
endstop_pin: ~PF0

[stepper z1]
carriages: z1
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z1]
uart_pin: PE3
run_current: 1.0
stealthchop_threshold: 999999

######################################
#####      Front Right Z         #####
######################################

[extra_carriage z2]
primary_carriage: z
endstop_pin: ~PC15

[stepper z2]
carriages: z2
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z2]
uart_pin: PB9
run_current: 1.0
stealthchop_threshold: 999999

##################################################################################################
# PID Configs                                                                                    #
##################################################################################################

[extruder]
pwm_cycle_time: 0.02088
#control: pid
#pid_Kp: 24.452
#pid_Ki: 2.397
#pid_Kd: 62.353

[extruder1]
pwm_cycle_time: 0.02088
#control: pid
#pid_Kp: 24.614
#pid_Ki: 2.413
#pid_Kd: 62.767

[extruder2]
pwm_cycle_time: 0.02088
#control: pid
#pid_Kp: 24.614
#pid_Ki: 2.413
#pid_Kd: 62.767

[extruder3]
pwm_cycle_time: 0.02088
#control: pid
#pid_Kp: 24.614
#pid_Ki: 2.413
#pid_Kd: 62.767

[heater_bed]
pwm_cycle_time: 0.02227   # 44.9 Hz
#control: pid
#pid_Kp:58.857
#pid_Ki:2.616
#pid_Kd:331.070

#pwm_cycle_time: 0.02 # use this value for 50Hz power systems (in EU for example)
#pwm_cycle_time: 0.0166 # use this value for 60Hz power systems (in USA and Canada for example)

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [skew_correction SKEW1]
#*# xy_skew = 0.0
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [skew_correction SKEW0]
#*# xy_skew = 0.0
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 31.810
#*# pid_ki = 11.162
#*# pid_kd = 22.664
#*#
#*# [extruder1]
#*# control = pid
#*# pid_kp = 31.158
#*# pid_ki = 10.933
#*# pid_kd = 22.199
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.472
#*# pid_ki = 2.807
#*# pid_kd = 429.859
#*#
#*# [extruder2]
#*# control = pid
#*# pid_kp = 33.871
#*# pid_ki = 12.545
#*# pid_kd = 22.862
#*#
#*# [extruder3]
#*# control = pid
#*# pid_kp = 30.650
#*# pid_ki = 10.755
#*# pid_kd = 21.837
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.610234480233574,2.115000357425403,0.8652754291822085,0.4010079495664876,0.29547526997243223,0.22161151960262807,-0.15635759086860396,-0.15422477500930218,0.18585371178018434,0.12019303291889907
#*# domain = 3.365879417673443e-07,3.434256979387657e-07
#*# z_offset = 0
#*# reference_temperature = 41.57
#*# software_version = 1.4.0
#*# mcu_version = CARTOGRAPHER V4 6.0.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 500
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.4.0
#*# mcu_version = CARTOGRAPHER V4 6.0.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.071670, -0.068132, -0.057538, -0.046977, -0.030703, -0.016782, -0.014531, -0.013309, -0.007604, -0.002936, -0.007604, -0.014531, -0.027212, -0.041189, -0.046977, -0.054010, -0.073981, -0.078769, -0.078769, -0.051726
#*# 	  -0.057538, -0.043473, -0.034191, -0.022517, -0.009850, -0.004143, -0.000696, -0.000696, -0.004143, 0.000519, -0.004143, -0.011061, -0.030703, -0.043473, -0.061061, -0.071670, -0.091786, -0.095356, -0.101276, -0.066894
#*# 	  -0.050496, -0.037692, -0.030703, -0.016782, -0.002936, 0.006203, 0.002756, -0.002936, -0.002936, -0.004143, -0.011061, -0.020251, -0.043473, -0.064599, -0.077536, -0.091786, -0.112049, -0.119260, -0.119260, -0.061061
#*# 	  -0.016782, -0.004143, -0.000696, 0.006203, 0.013075, 0.018722, 0.013075, 0.007406, 0.003969, 0.000519, -0.011061, -0.023734, -0.044699, -0.068132, -0.088212, -0.102521, -0.122868, -0.133731, -0.137359, -0.064599
#*# 	  -0.020251, -0.006386, 0.002756, 0.002756, 0.009637, 0.013075, 0.007406, 0.002756, 0.002756, 0.000519, -0.011061, -0.023734, -0.050496, -0.073981, -0.098932, -0.115647, -0.137359, -0.148283, -0.148283, -0.055774
#*# 	  0.007920, 0.018722, 0.019928, 0.023344, 0.025561, 0.028978, 0.019928, 0.009637, 0.006203, 0.007406, -0.000696, -0.014531, -0.048206, -0.075222, -0.104859, -0.122868, -0.148283, -0.165327, -0.151940, -0.041189
#*# 	  0.013075, 0.022140, 0.026763, 0.028978, 0.033581, 0.033581, 0.025561, 0.019928, 0.009637, 0.003969, 0.003969, -0.011061, -0.050496, -0.082331, -0.109696, -0.133731, -0.157989, -0.168999, -0.157989, -0.025473
#*# 	  0.043181, 0.049359, 0.049359, 0.052745, 0.056126, 0.052745, 0.045978, 0.032382, 0.016499, 0.009637, 0.009637, -0.004143, -0.046977, -0.081087, -0.112049, -0.137359, -0.165327, -0.178783, -0.167731, -0.039964
#*# 	  0.052745, 0.054929, 0.061673, 0.061673, 0.062867, 0.065042, 0.056126, 0.042583, 0.026763, 0.016499, 0.006203, -0.006386, -0.046977, -0.077536, -0.113300, -0.137359, -0.167731, -0.186170, -0.175097, -0.057536
#*# 	  0.075116, 0.081808, 0.078468, 0.078468, 0.077281, 0.071760, 0.068407, 0.056126, 0.039184, 0.023344, 0.006203, -0.013309, -0.039964, -0.073981, -0.113300, -0.141001, -0.171407, -0.189881, -0.189881, -0.104859
#*# 	  0.071760, 0.078468, 0.078468, 0.075116, 0.075116, 0.078468, 0.071760, 0.059494, 0.036987, 0.018722, 0.002756, -0.016782, -0.044699, -0.081087, -0.115647, -0.147025, -0.176359, -0.197299, -0.204748, -0.151940
#*# 	  0.088490, 0.090636, 0.088490, 0.085151, 0.081808, 0.080622, 0.078468, 0.065042, 0.042583, 0.023344, 0.002756, -0.020251, -0.051726, -0.081087, -0.119260, -0.150671, -0.182474, -0.207198, -0.222164, -0.203463
#*# 	  0.087308, 0.090636, 0.088490, 0.087308, 0.083967, 0.078468, 0.069590, 0.059494, 0.040389, 0.019928, -0.002936, -0.030703, -0.061061, -0.095356, -0.130108, -0.157989, -0.189881, -0.214666, -0.233438, -0.232148
#*# 	  0.103930, 0.100611, 0.097296, 0.097296, 0.093968, 0.091817, 0.083967, 0.065042, 0.042583, 0.023344, -0.004143, -0.034191, -0.068132, -0.101276, -0.137359, -0.168999, -0.197299, -0.222164, -0.248554, -0.258648
#*# 	  0.107245, 0.103930, 0.103930, 0.097296, 0.100611, 0.097296, 0.081808, 0.071760, 0.045978, 0.019928, -0.006386, -0.037692, -0.071670, -0.104859, -0.141001, -0.172676, -0.208476, -0.229674, -0.248554, -0.258648
#*# 	  0.122573, 0.120454, 0.117156, 0.110547, 0.110547, 0.100611, 0.081808, 0.072949, 0.048167, 0.018722, -0.013309, -0.043473, -0.077536, -0.108456, -0.147025, -0.182474, -0.219691, -0.244769, -0.266263, -0.280255
#*# 	  0.117156, 0.120454, 0.117156, 0.110547, 0.107245, 0.097296, 0.080622, 0.068407, 0.042583, 0.009637, -0.020251, -0.046977, -0.081087, -0.115647, -0.154332, -0.189881, -0.225917, -0.254839, -0.277727, -0.291790
#*# 	  0.142240, 0.138978, 0.132425, 0.125864, 0.117156, 0.103930, 0.087308, 0.077281, 0.049359, 0.019928, -0.016782, -0.043473, -0.077536, -0.115647, -0.157989, -0.193587, -0.233438, -0.258648, -0.291790, -0.307235
#*# 	  0.138978, 0.142240, 0.138978, 0.129143, 0.119278, 0.107245, 0.095147, 0.078468, 0.051546, 0.023344, -0.009850, -0.041189, -0.077536, -0.119260, -0.161651, -0.201016, -0.240980, -0.270079, -0.293099, -0.307235
#*# 	  0.158529, 0.152026, 0.143291, 0.129143, 0.115978, 0.103930, 0.093968, 0.071760, 0.042583, 0.019928, -0.013309, -0.046977, -0.088212, -0.133731, -0.178783, -0.212209, -0.252344, -0.287933, -0.322771, -0.333162
#*# min_x = 40.0
#*# min_y = 121.0
#*# max_x = 338.0
#*# max_y = 380.0
#*# x_count = 20
#*# y_count = 20
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = bicubic
#*# tension = 0.2
