####################################################################
# Multicolor IQEX print modes
#
# Two new print modes for multicolor printing on gantry0 (T0/T1
# alternating) with gantry1 copying or mirroring those movements
# (t2 shadows t0, t3 shadows t1).
#
# pmode values:
#   5 = MULTICOLOR_COPY01
#   6 = MULTICOLOR_MIRROR01
#
# See docs/superpowers/specs/2026-04-27-multicolor-iqex-modes-design.md
####################################################################
