[gcode_macro LED_T0_IDLE]
gcode:
    SET_LED_EFFECT EFFECT=tool0_idle REPLACE=1

[gcode_macro LED_T0_HEATING]
gcode:
    SET_LED_EFFECT EFFECT=tool0_heating REPLACE=1

[gcode_macro LED_T0_PROGRESS]
gcode:
    SET_LED_EFFECT EFFECT=tool0_progress REPLACE=1

[gcode_macro LED_T0_ERROR]
gcode:
    SET_LED_EFFECT EFFECT=tool0_error REPLACE=1

[gcode_macro LED_T0_WORKLIGHT_ON]
gcode:
    SET_LED_EFFECT EFFECT=tool0_worklight REPLACE=1

[gcode_macro LED_T0_WORKLIGHT_OFF]
gcode:
    SET_LED_EFFECT EFFECT=tool0_idle REPLACE=1



[gcode_macro LED_T1_IDLE]
gcode:
    SET_LED_EFFECT EFFECT=tool1_idle REPLACE=1

[gcode_macro LED_T1_HEATING]
gcode:
    SET_LED_EFFECT EFFECT=tool1_heating REPLACE=1

[gcode_macro LED_T1_PROGRESS]
gcode:
    SET_LED_EFFECT EFFECT=tool1_progress REPLACE=1

[gcode_macro LED_T1_ERROR]
gcode:
    SET_LED_EFFECT EFFECT=tool1_error REPLACE=1

[gcode_macro LED_T1_WORKLIGHT_ON]
gcode:
    SET_LED_EFFECT EFFECT=tool1_worklight REPLACE=1

[gcode_macro LED_T1_WORKLIGHT_OFF]
gcode:
    SET_LED_EFFECT EFFECT=tool1_idle REPLACE=1



[gcode_macro LED_T2_IDLE]
gcode:
    SET_LED_EFFECT EFFECT=tool2_idle REPLACE=1

[gcode_macro LED_T2_HEATING]
gcode:
    SET_LED_EFFECT EFFECT=tool2_heating REPLACE=1

[gcode_macro LED_T2_PROGRESS]
gcode:
    SET_LED_EFFECT EFFECT=tool2_progress REPLACE=1

[gcode_macro LED_T2_ERROR]
gcode:
    SET_LED_EFFECT EFFECT=tool2_error REPLACE=1

[gcode_macro LED_T2_WORKLIGHT_ON]
gcode:
    SET_LED_EFFECT EFFECT=tool2_worklight REPLACE=1

[gcode_macro LED_T2_WORKLIGHT_OFF]
gcode:
    SET_LED_EFFECT EFFECT=tool2_idle REPLACE=1



[gcode_macro LED_T3_IDLE]
gcode:
    SET_LED_EFFECT EFFECT=tool3_idle REPLACE=1

[gcode_macro LED_T3_HEATING]
gcode:
    SET_LED_EFFECT EFFECT=tool3_heating REPLACE=1

[gcode_macro LED_T3_PROGRESS]
gcode:
    SET_LED_EFFECT EFFECT=tool3_progress REPLACE=1

[gcode_macro LED_T3_ERROR]
gcode:
    SET_LED_EFFECT EFFECT=tool3_error REPLACE=1

[gcode_macro LED_T3_WORKLIGHT_ON]
gcode:
    SET_LED_EFFECT EFFECT=tool3_worklight REPLACE=1

[gcode_macro LED_T3_WORKLIGHT_OFF]
gcode:
    SET_LED_EFFECT EFFECT=tool3_idle REPLACE=1



# Global macros for homing / fatal errors

[gcode_macro LED_HOMING_ALL]
gcode:
    SET_LED_EFFECT EFFECT=tools_homing REPLACE=1

[gcode_macro LED_ERROR_ALL]
gcode:
    SET_LED_EFFECT EFFECT=tools_error REPLACE=1
