# Buffer 0
[output_pin Feed0]
pin:!hexa:PC15 # Replace with the pin you are using
#debounce_delay:2.0
value:0

[output_pin Retract0]
pin:!hexa:PC14 # Replace with the pin you are using
#debounce_delay:2.0
value:0

[gcode_macro LOADER0]
gcode:
    SET_PIN PIN=Retract0 VALUE=0
    SET_PIN PIN=Feed0 VALUE=1
    G4 P10000
    SET_PIN PIN=Feed0 VALUE=0

[gcode_macro UNLOADER0]
gcode:
    SET_PIN PIN=Feed0 VALUE=0
    SET_PIN PIN=Retract0 VALUE=1
    G4 P10000
    SET_PIN PIN=Retract0 VALUE=0

