# Buffer 0
[output_pin T1_Feed]
pin:!hexa:PC15 # Replace with the pin you are using
debounce_delay:2.0
value:0

[output_pin T1_Retract]
pin:!hexa:PC14 # Replace with the pin you are using
debounce_delay:2.0
value:0


[gcode_macro 1Loader]  ## Buffer Feeding
gcode:
    SET_PIN PIN=T1_Retract VALUE=0
    SET_PIN PIN=T1_Feed VALUE=1
    G4 P10000 # 10 seconds
    SET_PIN PIN=T1_Feed VALUE=0

[gcode_macro 1Unloader]  ## Buffer Feeding
gcode:
    SET_PIN PIN=_T1_Feed VALUE=0
    SET_PIN PIN=T1_Retract VALUE=1
    G4 P10000 # 10 seconds
    SET_PIN PIN=T1_Retract VALUE=0
