# Buffer 0
[output_pin BUFF0_Feed]
pin:!hexa:PC15 # Replace with the pin you are using
#debounce_delay:2.0
value:0

[output_pin BUFF0_Retract]
pin:!hexa:PC14 # Replace with the pin you are using
#debounce_delay:2.0
value:0

[gcode_macro BUFF0_LOADER]
gcode:
    SET_PIN PIN=BUFF0_Retract VALUE=0
    SET_PIN PIN=BUFF0_Feed VALUE=1
    G4 P10000
    SET_PIN PIN=BUFF0_Feed VALUE=0

[gcode_macro BUFF0_UNLOADER]
gcode:
    SET_PIN PIN=BUFF0_Feed VALUE=0
    SET_PIN PIN=BUFF0_Retract VALUE=1
    G4 P10000
    SET_PIN PIN=BUFF0_Retract VALUE=0

