[cartographer]
mcu: cartographer
x_offset: 0
y_offset: -19.07
verbose: yes # For extra output

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[cartographer scan]
#probe_speed: 5
#   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
mesh_runs: 1
#   Number of runs when doing a scan mesh.
#   Consecutive runs will trace back the way it came from.
#   The default is 1 run.
#mesh_direction: x
#   Axis of which to do the most moves along - either 'x' or 'y'.
#   The default is the x-axis
mesh_height: 2
#   The height (in mm) of the head, when doing a mesh run.
#   The default is 3 mm.
#mesh_path: snake
#   The path to use when calibrating a scan mesh - either 'snake',
#   'alternating_snake', 'spiral' or 'random'.
#   The default is snake.

#[adxl345]
#cs_pin: cartographer:PA3
#spi_bus: spi1

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    <blank>, <blank>, 20 # Fill out the blank with x and y coordinates where you want to run the resonance test.
