#####################################################################
##                  Chamber Heater
#####################################################################
#sensor_pin: PB0 # BTT M8P V2.0 //  PA1 #BTT M8P V1.1

[temperature_sensor low_chamber]
sensor_type: Generic 3950
sensor_pin: PC5

[temperature_sensor mid_chamber]
sensor_type: Generic 3950
sensor_pin: PB0

[heater_generic chamber_heater]
sensor_type: temperature_combined
sensor_list: temperature_sensor mid_chamber, temperature_sensor low_chamber
maximum_deviation: 999.9
combination_method: mean
heater_pin: PA5                        # HE3 pin - Chamber heater SSR
control: pid                           # Control method
## Chamber heater temperature PID calibration command: "PID_CALIBRATE HEATER=chamber_heater TARGET=60"
pid_kp: 22.2                          # PID Kp value (will need calibration)
pid_ki: 1.08                          # PID Ki value (will need calibration)
pid_kd: 114                           # PID Kd value (will need calibration)
min_temp: -20                          # Minimum temperature
max_temp: 155                          # Maximum temperature
max_power: 1.0                         # Maximum power

[verify_heater chamber_heater]
max_error: 400
check_gain_time:600
hysteresis: 5
heating_gain: 1

#####################################################################
##                  Chamber Fan
#####################################################################
[heater_fan chamber_fan]
pin: PA6                               # FAN5 pin - Chamber fan
hardware_pwm: false                    # Hardware PWM
#tachometer_pin: PC2                    # Tach pin definition
#tachometer_ppr: 2                      # Pulses per rotation
#tachometer_poll_interval: 0.5          # Polling interval
kick_start_time: 0.5                   # Start-up time
heater: chamber_heater                 # Heater association
fan_speed: 1.0                         # fan speed
heater_temp: 40                        # Turn fan off at temp
