##################################
# Z Axis -- 3 Steppers
##################################

#   BACK of the printer   #
#                         #
#           Z1            #
#                         #
#       Z       Z2        #
#                         #
#   FRONT of the printer  #

#####################################################################
#  Z Gantry – Three Independent Z-axis Carriages
#####################################################################

# ---------------- Primary Z (Front) ----------------
[carriage z]
axis: z
endstop_pin: ~PF1
position_endstop: 401
position_max: 401
position_min: -3
homing_speed: 20
homing_retract_dist: 10.0
homing_retract_speed: 10
second_homing_speed: 5

[stepper z]
carriages: z
step_pin: PE6
dir_pin: !PE5
enable_pin: !PC14
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z]
uart_pin: PC13
run_current: 1.1
stealthchop_threshold: 999999


# ---------------- Z1 (Back) ----------------
[extra_carriage z1]
primary_carriage: z
endstop_pin: ~PF0

[stepper z1]
carriages: z1
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z1]
uart_pin: PE3
run_current: 1.1
stealthchop_threshold: 999999


# ---------------- Z2 (Right) ----------------
[extra_carriage z2]
primary_carriage: z
endstop_pin: ~PC15

[stepper z2]
carriages: z2
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc2209 stepper z2]
uart_pin: PB9
run_current: 1.1
stealthchop_threshold: 999999