[nevermore]
serial: /dev/serial/by-id/usb-Nevermore_Filter_waveshare-rp2040-zero_E663B03597823239-if02

# Fan Options
fan_power_coefficient: 0.8
fan_power_minimum: 0.175
fan_power_kick_start_minimum: 0.18

# Fan Policy

# Fan Policy - Thermal Limit
fan_thermal_limit_coefficient: 1 # This means it is effectively disabled

# Print-Mode Policy
print_mode_min_bed_target: 61

# Sensor Settings
voc_gating_threshold: 250

# Vent Servo
# NOTE: To reverse direction set `vent_servo_pulse_width_max` < `vent_servo_pulse_width_min`

# seconds \in (0, 0.02), duration of pulse when requested 0%
vent_servo_pulse_width_min: 0.001
# seconds \in (0, 0.02), duration of pulse when requesting 100%
vent_servo_pulse_width_max: 0.002

# LED
led_colour_order: GRB
led_chain_count: 0

[temperature_sensor nevermore_intake_VOC]
sensor_type: NevermoreSensor
sensor_kind: intake
plot_voc: true