[silence_input_shaper]

[output_pin caselight]
value: 1

########################################################
# Tool change retraction helper
########################################################

[gcode_macro _RETRACT_IF_PRINTING]
gcode:
    {% if printer.print_stats.state in ["printing", "paused"] and printer[printer.toolhead.extruder].can_extrude %}
        {% set svv = printer.save_variables.variables %}
        SAVE_GCODE_STATE NAME=_retract_tc
        M83
        G1 E-{svv.tc_retract} F2400
        RESTORE_GCODE_STATE NAME=_retract_tc
    {% endif %}

########################################################
# Tool activation wrappers (Tool0..Tool3)
########################################################

[gcode_macro Tool0]
gcode:
    {% set svv = printer.save_variables.variables %}
    # Multicolor mode is "active" only once ACTIVATE_MULTICOLOR_*_MODE01 has put
    # gantry1 into COPY or MIRROR. pmode alone (set by SET_PRINT_MODE) is just
    # intent for the next print and shouldn't trigger _MC_TOOL0 prematurely.
    {% set g1_mode = printer.dual_carriage.carriages["dual_carriage gantry1"]|default("INACTIVE") %}
    {% if g1_mode in ["COPY", "MIRROR"] %}
        _MC_TOOL0
    {% else %}
        _RETRACT_IF_PRINTING
        SET_SKEW CLEAR=1
        SET_GCODE_OFFSET X=0 Y=0 Z=0
        {% set xplorer = printer['gcode_macro _XPLORER_VARIABLES'] %}
        G1 F{xplorer.sp_tch}
        {% if printer.toolhead.extruder != "extruder" %}
            PARK_extruder1
            PARK_extruder2
            PARK_extruder3
        {% endif %}
        ACTIVATE_EXTRUDER EXTRUDER=extruder
        SET_DUAL_CARRIAGE CARRIAGE=gantry0
        SET_DUAL_CARRIAGE CARRIAGE=t0
        SET_INPUT_SHAPER SHAPER_TYPE_X={svv.shaper_type_xt0} SHAPER_FREQ_X={svv.shaper_freq_xt0} SHAPER_TYPE_Y={svv.shaper_type_yt0} SHAPER_FREQ_Y={svv.shaper_freq_yt0}
        SKEW_PROFILE LOAD=gantry0
        SET_GCODE_OFFSET X=0 Y=0 Z=0
    {% endif %}

[gcode_macro Tool1]
gcode:
    {% set svv = printer.save_variables.variables %}
    # Same gating as Tool0: only dispatch to _MC_TOOL1 when gantry1 is actually
    # in COPY/MIRROR (i.e. the activation macro has run).
    {% set g1_mode = printer.dual_carriage.carriages["dual_carriage gantry1"]|default("INACTIVE") %}
    {% if g1_mode in ["COPY", "MIRROR"] %}
        _MC_TOOL1
    {% else %}
        _RETRACT_IF_PRINTING
        SET_SKEW CLEAR=1
        SET_GCODE_OFFSET X=0 Y=0 Z=0
        {% set xplorer = printer['gcode_macro _XPLORER_VARIABLES'] %}
        G1 F{xplorer.sp_tch}
        {% if printer.toolhead.extruder != "extruder1" %}
            PARK_extruder
            PARK_extruder2
            PARK_extruder3
        {% endif %}
        ACTIVATE_EXTRUDER EXTRUDER=extruder1
        SET_DUAL_CARRIAGE CARRIAGE=gantry0
        SET_DUAL_CARRIAGE CARRIAGE=t1

        {% if svv.shaper_type_xt1 is defined and
              svv.shaper_freq_xt1 is defined and
              svv.shaper_type_yt1 is defined and
              svv.shaper_freq_yt1 is defined %}
            SET_INPUT_SHAPER SHAPER_TYPE_X={svv.shaper_type_xt1} SHAPER_FREQ_X={svv.shaper_freq_xt1} SHAPER_TYPE_Y={svv.shaper_type_yt1} SHAPER_FREQ_Y={svv.shaper_freq_yt1}
        {% endif %}
        SKEW_PROFILE LOAD=gantry0
        SET_GCODE_OFFSET X={svv.x1offset} Y={svv.y1offset} Z={svv.z1offset}
    {% endif %}

[gcode_macro Tool2]
gcode:
    _RETRACT_IF_PRINTING
    SET_SKEW CLEAR=1
    SET_GCODE_OFFSET X=0 Y=0 Z=0
    {% set svv = printer.save_variables.variables %}
    {% set xplorer = printer['gcode_macro _XPLORER_VARIABLES'] %}
    G1 F{xplorer.sp_tch}
    {% if printer.toolhead.extruder != "extruder2" %}
        PARK_extruder
        PARK_extruder1
        PARK_extruder3
    {% endif %}
    ACTIVATE_EXTRUDER EXTRUDER=extruder2
    SET_DUAL_CARRIAGE CARRIAGE=gantry1
    SET_DUAL_CARRIAGE CARRIAGE=t2

    {% if svv.shaper_type_xt2 is defined and
          svv.shaper_freq_xt2 is defined and
          svv.shaper_type_yt2 is defined and
          svv.shaper_freq_yt2 is defined %}
        SET_INPUT_SHAPER SHAPER_TYPE_X={svv.shaper_type_xt2} SHAPER_FREQ_X={svv.shaper_freq_xt2} SHAPER_TYPE_Y={svv.shaper_type_yt2} SHAPER_FREQ_Y={svv.shaper_freq_yt2}
    {% endif %}
    SKEW_PROFILE LOAD=gantry1
    SET_GCODE_OFFSET X={svv.x2offset} Y={svv.y2offset} Z={svv.z2offset}

[gcode_macro Tool3]
gcode:
    _RETRACT_IF_PRINTING
    SET_SKEW CLEAR=1
    SET_GCODE_OFFSET X=0 Y=0 Z=0
    {% set svv = printer.save_variables.variables %}
    {% set xplorer = printer['gcode_macro _XPLORER_VARIABLES'] %}
    G1 F{xplorer.sp_tch}
    {% if printer.toolhead.extruder != "extruder3" %}
        PARK_extruder
        PARK_extruder1
        PARK_extruder2
    {% endif %}
    ACTIVATE_EXTRUDER EXTRUDER=extruder3
    SET_DUAL_CARRIAGE CARRIAGE=gantry1
    SET_DUAL_CARRIAGE CARRIAGE=t3

    {% if svv.shaper_type_xt3 is defined and
          svv.shaper_freq_xt3 is defined and
          svv.shaper_type_yt3 is defined and
          svv.shaper_freq_yt3 is defined %}
        SET_INPUT_SHAPER SHAPER_TYPE_X={svv.shaper_type_xt3} SHAPER_FREQ_X={svv.shaper_freq_xt3} SHAPER_TYPE_Y={svv.shaper_type_yt3} SHAPER_FREQ_Y={svv.shaper_freq_yt3}
    {% endif %}
    SKEW_PROFILE LOAD=gantry1
    SET_GCODE_OFFSET X={svv.x3offset} Y={svv.y3offset} Z={svv.z3offset}

########################################################
# Print mode / IDEX / IQEX mode wrappers
########################################################

# COPY mode T0/T1
[gcode_macro ACTIVATE_COPY_MODE01]
gcode:
    M118 Activating COPY mode T0 / T1
    {% set svv = printer.save_variables.variables %}
    {% set xplorer = printer['gcode_macro _XPLORER_VARIABLES'] %}
    SET_DUAL_CARRIAGE CARRIAGE=t0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=gantry0 MODE=PRIMARY
    G1 X0 F{xplorer.sp_pmode}
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_DUAL_CARRIAGE CARRIAGE=t1 MODE=PRIMARY
    G1 X{xplorer.x_cop_idex}
    SET_DUAL_CARRIAGE CARRIAGE=t0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=t1 MODE=COPY
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder
    SAVE_VARIABLE VARIABLE=pmode VALUE=1

    {% if svv.shaper_type_xidexcp is defined and
          svv.shaper_freq_xidexcp is defined and
          svv.shaper_type_yidexcp is defined and
          svv.shaper_freq_yidexcp is defined %}
        SET_INPUT_SHAPER SHAPER_TYPE_X={svv.shaper_type_xidexcp} SHAPER_FREQ_X={svv.shaper_freq_xidexcp} SHAPER_TYPE_Y={svv.shaper_type_yidexcp} SHAPER_FREQ_Y={svv.shaper_freq_yidexcp}
    {% endif %}

    M118 Adding Squish
    {% if svv.idexsquish is defined %}
        SET_GCODE_OFFSET Z={svv.idexsquish} MOVE=0
    {% endif %}
    

# MIRROR mode T0/T1
[gcode_macro ACTIVATE_MIRROR_MODE01]
gcode:
    M118 Activating MIRROR mode T0 / T1
    {% set svv = printer.save_variables.variables %}
    {% set xplorer = printer['gcode_macro _XPLORER_VARIABLES'] %}
    SET_DUAL_CARRIAGE CARRIAGE=t0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=gantry0 MODE=PRIMARY
    G1 X0 F{xplorer.sp_pmode}
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_DUAL_CARRIAGE CARRIAGE=t1 MODE=PRIMARY
    G1 X{xplorer.x_mir_idex}
    SET_DUAL_CARRIAGE CARRIAGE=t0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=t1 MODE=MIRROR
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder
    SAVE_VARIABLE VARIABLE=pmode VALUE=2

    {% if svv.shaper_type_xidexmr is defined and
          svv.shaper_freq_xidexmr is defined and
          svv.shaper_type_yidexmr is defined and
          svv.shaper_freq_yidexmr is defined %}
        SET_INPUT_SHAPER SHAPER_TYPE_X={svv.shaper_type_xidexmr} SHAPER_FREQ_X={svv.shaper_freq_xidexmr} SHAPER_TYPE_Y={svv.shaper_type_yidexmr} SHAPER_FREQ_Y={svv.shaper_freq_yidexmr}
    {% endif %}

    M118 Adding Squish
    {% if svv.idexsquish is defined %}
        SET_GCODE_OFFSET Z={svv.idexsquish} MOVE=0
    {% endif %}
    

# COPY mode T0/T1/T2/T3
[gcode_macro ACTIVATE_COPY_MODE0123]
gcode:
    M118 Activating COPY mode T0 / T1 T2 T3
    {% set svv = printer.save_variables.variables %}
    {% set xplorer = printer['gcode_macro _XPLORER_VARIABLES'] %}

    SET_DUAL_CARRIAGE CARRIAGE=t0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=gantry0 MODE=PRIMARY
    G1 X0 F{xplorer.sp_pmode}
    G1 Y300 F{xplorer.sp_tchy}
    SET_DUAL_CARRIAGE CARRIAGE=t1 MODE=PRIMARY
    G1 X{xplorer.x_cop_idex}
    SET_DUAL_CARRIAGE CARRIAGE=t3 MODE=PRIMARY
    G1 X{xplorer.x_cop_idex}
    SET_DUAL_CARRIAGE CARRIAGE=gantry1 MODE=PRIMARY
    G1 Y{xplorer.y_cop_dg} F{xplorer.sp_tchy}

    SET_DUAL_CARRIAGE CARRIAGE=gantry0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=gantry1 MODE=COPY

    SET_DUAL_CARRIAGE CARRIAGE=t0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=t1 MODE=COPY
    SET_DUAL_CARRIAGE CARRIAGE=t2 MODE=COPY
    SET_DUAL_CARRIAGE CARRIAGE=t3 MODE=COPY


    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder2 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder3 MOTION_QUEUE=extruder

    SAVE_VARIABLE VARIABLE=pmode VALUE=3

    {% if svv.shaper_type_xiqexcp is defined and
          svv.shaper_freq_xiqexcp is defined and
          svv.shaper_type_yiqexcp is defined and
          svv.shaper_freq_yiqexcp is defined %}
        SET_INPUT_SHAPER SHAPER_TYPE_X={svv.shaper_type_xiqexcp} SHAPER_FREQ_X={svv.shaper_freq_xiqexcp} SHAPER_TYPE_Y={svv.shaper_type_yiqexcp} SHAPER_FREQ_Y={svv.shaper_freq_yiqexcp}
    {% endif %}


    M118 Adding Squish
    {% if svv.idexsquish is defined %}
        SET_GCODE_OFFSET Z={svv.idexsquish} MOVE=0
    {% endif %}
    

# MIRROR mode IQEX T0 T1 / T2 T3
[gcode_macro ACTIVATE_MIRROR_MODE0123]
gcode:
    M118 Activating Mirror mode T0 T1 / T2 T3
    {% set svv = printer.save_variables.variables %}
    {% set xplorer = printer['gcode_macro _XPLORER_VARIABLES'] %}

    SET_DUAL_CARRIAGE CARRIAGE=t0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=gantry0 MODE=PRIMARY
    G1 X0 F{xplorer.sp_pmode}
    G1 Y300 F{xplorer.sp_tchy}
    SET_DUAL_CARRIAGE CARRIAGE=t1 MODE=PRIMARY
    G1 X{xplorer.x_cop_idex}
    SET_DUAL_CARRIAGE CARRIAGE=t3 MODE=PRIMARY
    G1 X{xplorer.x_cop_idex}
    SET_DUAL_CARRIAGE CARRIAGE=gantry1 MODE=PRIMARY

    SET_DUAL_CARRIAGE CARRIAGE=gantry0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=gantry1 MODE=MIRROR

    SET_DUAL_CARRIAGE CARRIAGE=t0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=t1 MODE=COPY
    SET_DUAL_CARRIAGE CARRIAGE=t2 MODE=COPY
    SET_DUAL_CARRIAGE CARRIAGE=t3 MODE=COPY

    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder2 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder3 MOTION_QUEUE=extruder

    SAVE_VARIABLE VARIABLE=pmode VALUE=4

    {% if svv.shaper_type_xiqexmr is defined and
          svv.shaper_freq_xiqexmr is defined and
          svv.shaper_type_yiqexmr is defined and
          svv.shaper_freq_yiqexmr is defined %}
        SET_INPUT_SHAPER SHAPER_TYPE_X={svv.shaper_type_xiqexmr} SHAPER_FREQ_X={svv.shaper_freq_xiqexmr} SHAPER_TYPE_Y={svv.shaper_type_yiqexmr} SHAPER_FREQ_Y={svv.shaper_freq_yiqexmr}
    {% endif %}

    M118 Adding Squish
    {% if svv.idexsquish is defined %}
        SET_GCODE_OFFSET Z={svv.idexsquish} MOVE=0
    {% endif %}


########################################################
# Primary mode wrapper
########################################################

[gcode_macro ACTIVATE_PRIMARY_MODE]
gcode:
    M118 Activating PRIMARY Printing Mode !
    {% set svv = printer.save_variables.variables %}

    SYNC_EXTRUDER_MOTION EXTRUDER=extruder  MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder1
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder2 MOTION_QUEUE=extruder2
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder3 MOTION_QUEUE=extruder3

    # Set all carriages to PRIMARY mode so any tool can be used next
    SET_DUAL_CARRIAGE CARRIAGE=t0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=t1 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=t2 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=t3 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=gantry0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=gantry1 MODE=PRIMARY
    SAVE_VARIABLE VARIABLE=pmode VALUE=0

    PARK_extruder1
    PARK_extruder2
    PARK_extruder3
    Tool0


[gcode_macro PAUSE]
description: Pause print safely, store temperatures and position
rename_existing: BASE_PAUSE

gcode:
    M118 Pause print...

    {% set xplorer = printer['gcode_macro _XPLORER_VARIABLES'] %}
    {% set z = params.Z|default(10)|int %}

    {% if printer['pause_resume'].is_paused|int == 0 %}
        # Save print state
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=e1temp VALUE={printer['extruder1'].target}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=e2temp VALUE={printer['extruder2'].target}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=e3temp VALUE={printer['extruder3'].target}

        SAVE_GCODE_STATE NAME=PAUSE
        # Save dual_carriage state so G28 Y below doesn't permanently break
        # gantry1's COPY/MIRROR mode for IDEX/IQEX prints. RESUME restores it.
        SAVE_DUAL_CARRIAGE_STATE NAME=PAUSE_DC
        BASE_PAUSE

        {% if (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}
            G91
            G1 Z{z} F900
        {% else %}
            { action_respond_info("Pause z-hop exceeds maximum Z height — skipping.") }
            SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
        {% endif %}

        G90
        G28 Y
        SAVE_GCODE_STATE NAME=PAUSEPARK

        # Cool down each tool to safe standby temp
        # Address heaters by NAME, never by T<n>: AFC intercepts M104/M109 and
        # resolves T<n> through its lane map, where T0-T3 are all Box_Turtle lanes
        # on `extruder`. `M104 T2` therefore targets head 0, not extruder2, and the
        # other three heads are never touched.
        # Also require target > 0: a head that was already cooling (target 0, still
        # hot) must not be driven back up to 150 and held there for the whole pause.
        # RESUME restores on captured target, so such a head would never be turned
        # off again. Previously this only ever reached head 0, because AFC mapped
        # T1/T2/T3 back onto `extruder`.
        {% if printer.extruder.target > 0 and printer.extruder.temperature > 100 %}
            SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150
        {% endif %}
        {% if printer.extruder1.target > 0 and printer.extruder1.temperature > 100 %}
            SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET=150
        {% endif %}
        {% if printer.extruder2.target > 0 and printer.extruder2.temperature > 100 %}
            SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET=150
        {% endif %}
        {% if printer.extruder3.target > 0 and printer.extruder3.temperature > 100 %}
            SET_HEATER_TEMPERATURE HEATER=extruder3 TARGET=150
        {% endif %}

        SET_IDLE_TIMEOUT TIMEOUT={xplorer.tmpout}  ; usually long pause timeout (e.g., 12 h)
    {% endif %}


[gcode_macro RESUME]
description: Resume paused print safely for all tools
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
variable_e1temp: 0
variable_e2temp: 0
variable_e3temp: 0

gcode:
    M118 Resuming printing...

    {% set e = params.E|default(2.5)|float %}

    {% if printer['pause_resume'].is_paused|int == 1 %}
        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}

        # Restore each tool to the target PAUSE captured.
        # Address heaters by NAME, never by T<n>: AFC intercepts M104/M109 and
        # resolves T<n> through its lane map, where T0-T3 are all Box_Turtle lanes
        # on `extruder`. `M104 T2` therefore targets head 0, not extruder2, and the
        # other three heads are never touched.
        # PAUSE captured these by name, so the values were always right; only the
        # restore addressed the wrong heater. The else-branch turns off a head that
        # was off at pause, so nothing is left holding 150 for the rest of the print.
        # TEMPERATURE_WAIT has no timeout and returns only at >= MINIMUM, so a PID
        # settling a hair under setpoint would hang forever. Wait 5C short: that is
        # AFC's own temp_wait_tolerance, and these heads run deadband: 10.
        # Set every target first, then wait, so the heads ramp together instead of
        # four serial ramps with the toolhead parked over the print. PRINT_START
        # already batches set-then-wait this way.
        {% if etemp > 0 %}
            SET_HEATER_TEMPERATURE HEATER=extruder TARGET={etemp|int}
        {% else %}
            SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
        {% endif %}
        {% if e1temp > 0 %}
            SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET={e1temp|int}
        {% else %}
            SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET=0
        {% endif %}
        {% if e2temp > 0 %}
            SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET={e2temp|int}
        {% else %}
            SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET=0
        {% endif %}
        {% if e3temp > 0 %}
            SET_HEATER_TEMPERATURE HEATER=extruder3 TARGET={e3temp|int}
        {% else %}
            SET_HEATER_TEMPERATURE HEATER=extruder3 TARGET=0
        {% endif %}

        {% if etemp > 0 %}
            TEMPERATURE_WAIT SENSOR=extruder MINIMUM={(etemp|float - 5)|int}
        {% endif %}
        {% if e1temp > 0 %}
            TEMPERATURE_WAIT SENSOR=extruder1 MINIMUM={(e1temp|float - 5)|int}
        {% endif %}
        {% if e2temp > 0 %}
            TEMPERATURE_WAIT SENSOR=extruder2 MINIMUM={(e2temp|float - 5)|int}
        {% endif %}
        {% if e3temp > 0 %}
            TEMPERATURE_WAIT SENSOR=extruder3 MINIMUM={(e3temp|float - 5)|int}
        {% endif %}

        # Restore to parked Z-hop position (high Z, home Y from G28).
        RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100

        # Restore dual_carriage state — moves XY back to pre-pause print
        # position and re-establishes gantry1 COPY/MIRROR mode broken by
        # G28 Y in PAUSE. Z is not a dual_carriage axis so it stays at
        # the safe Z-hop height during this XY move.
        RESTORE_DUAL_CARRIAGE_STATE NAME=PAUSE_DC MOVE=1

        # Now descend Z and prime, with XY already over the print position.
        G91
        M83
        {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}
            G1 Z{zhop * -1} E{e} F900
        {% else %}
            G1 Z{zhop * -1} F900
        {% endif %}

        # Restore gcode state (gcode_offset, units, speed, etc.) without
        # moving — toolhead is already at the saved print position.
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=0
        BASE_RESUME
    {% endif %}
