[controller_fan Stepper_fan]
pin:PF9
cycle_time: 0.1                  # Cycle time
max_power: 1.0                   # Maximum power
shutdown_speed: 0.0              # Shutdown speed
fan_speed: 1.0                   # Fan speed when heater or stepper driver is active (0.0 to 1.0). Default is 1.0.
idle_timeout: 90                 # Time in seconds to keep the fan running after the stepper driver or heater is no longer active. Default is 30 seconds.
idle_speed: 1.0                  # Fan speed after the stepper driver is no longer active and before idle_timeout is reached (0.0 to 1.0). Default is fan_speed.
stepper: stepper y, stepper y1, stepper y2, stepper y3, stepper x, stepper x1, stepper x2, stepper x3

[temperature_fan Electronics_fan]
#pin: PA4 Commented out since we are overriding the fan instead of recreating it
control: pid
target_temp: 50
max_power: 1.0
min_temp: 0
max_temp: 85
off_below: 0.2
kick_start_time: 0.5
sensor_type:temperature_host
pid_Kp: 5.0
pid_Ki: 0.20
pid_Kd: 50.0