#####################################################################
##                            Bed Leveling and Calibration Macros
#####################################################################

[gcode_macro Z_TILT_ADJUST]     # IDM/Cartographer optimized 3Z leveling macro
rename_existing: _Z_TILT_ADJUST
gcode:
    Tool0
    SAVE_GCODE_STATE NAME=STATE_Z_TILT         # Save current state for Z tilt adjustment
    BED_MESH_CLEAR                             # Clear bed mesh
    {% if not printer.z_tilt.applied %}
      _Z_TILT_ADJUST horizontal_move_z=10 retry_tolerance=1   # Adjust Z tilt with higher tolerance initially
    {% endif %}
    _Z_TILT_ADJUST horizontal_move_z=2          # Fine-tune Z tilt adjustment
    RESTORE_GCODE_STATE NAME=STATE_Z_TILT       # Restore saved state after adjustment

####################################################################################
##                               Probe Calibration Macro
####################################################################################
[gcode_macro PROBECALIBRATE]
# Defines a G-code macro for probe calibration
gcode:
    G28                          # Home all axes
    Tool0                        # Switch to Tool0
    G0 X200 Y200 Z1 F3600        # Fast move to X150 Y150 Z1 at 3600 mm/min
    PROBE_CALIBRATE              # Start probe calibration

####################################################################################
##                              Tango Time!
####################################################################################
[gcode_macro TANGO_TIME]
description: Level the bed and find z offset
gcode:
    SET_DISPLAY_TEXT MSG="Heating Nozzle to 150°C"
    M109 S{150} T0

    SET_DISPLAY_TEXT MSG="Cleaning Nozzle..."              # Display nozzle cleaning message
    Brush_Tool0

    SET_DISPLAY_TEXT MSG="Leveling..."                     # Display leveling message
    Z_TILT_ADJUST
    G28 Z

    SET_DISPLAY_TEXT MSG="Bed Mesh Calibration..."         # Display mesh calibration message
    BED_MESH_CALIBRATE ADAPTIVE=1                          # Perform bed mesh calibration

    SET_DISPLAY_TEXT MSG="Calibrating Z Offset"            # Display Z offset calibration message
    CARTOGRAPHER_TOUCH                                     # Calibrate Z offset